@model IEnumerable<ExemploAspNetMvc.Models.Cad_Profissoes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_DtInc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_DtAlt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_DtExc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_DtInc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_DtAlt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_DtExc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pro_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pro_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pro_ID })
        </td>
    </tr>
}

</table>
